/*! CSS Used from: http://5645a697.ngrok.io/skin/frontend/rwd/park/css/styles.css */
header {
  display: block; }

.cms-index-index.cms-home {
  background: #f4f5f0 none repeat scroll 0 0; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

b {
  font-weight: bold; }

img {
  border: 0; }

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #FFFFFF;
  color: #000000;
  line-height: 1; }

body,
img {
  border: 0; }

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal; }

address {
  font-style: normal; }

img {
  display: block; }

ul {
  list-style: none; }

input:focus {
  outline-offset: -2px; }

a,
button {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

body,
button,
input {
  font-family: "Arial", sans-serif;
  color: #636363;
  font-size: 14px;
  line-height: 1.5; }

.home-central-park-content p {
  line-height: 1; }

a {
  color: #73b338;
  text-decoration: none; }

a:hover {
  color: #669e32;
  text-decoration: underline; }

a:focus {
  outline-color: #3091c2;
  color: #143d52; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0;
  margin-bottom: 0.2em;
  color: #333333;
  font-family: "Arial", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2; }

h2 {
  margin: 1em 0 0.2em;
  color: #636363;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2; }

h3 {
  margin: 1em 0 0.2em;
  color: #333333;
  font-family: "Arial", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-rendering: optimizeSpeed; }

.block {
  margin-bottom: 20px; }

.block-content {
  margin-top: 5px; }

.block .actions {
  margin: 10px 0 0; }

.block .actions:after {
  content: '';
  display: table;
  clear: both; }

.block .actions .button {
  float: right; }

.button,
.footer .button {
  background: #ffcc33;
  display: inline-block;
  padding: 7px 15px;
  border: 0;
  color: #636363;
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 5px; }

.button:hover,
.footer .button:hover {
  background: #ff9900;
  cursor: pointer; }

.button:active,
.footer .button:active {
  background: #ffcc33;
  color: #FFFFFF; }

.button:focus,
.footer .button:focus {
  background-color: #ffcc33;
  outline: none;
  color: #636363; }

.button:disabled {
  background: #C8C8C8;
  opacity: 0.6;
  cursor: not-allowed; }

.skip-cart .icon {
  background-image: url(https://www.centralparkdiscovery.com/skin/frontend/rwd/park/images/icon_sprite.png);
  background-repeat: no-repeat;
  text-indent: -9999px; }

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .skip-cart .icon {
    background-image: url(https://www.centralparkdiscovery.com/skin/frontend/rwd/park/images/icon_sprite@2x.png);
    background-size: 100px 1000px; } }

.cms-home .std,
.footer {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px; }

.cms-home .std:after,
.footer:after {
  content: '';
  display: table;
  clear: both; }

.footer-container {
  padding-top: 0px; }

.main:after {
  content: '';
  display: table;
  clear: both; }

.col-main {
  padding: 0 10px; }

.col-main {
  float: left;
  width: 75%; }

.col1-layout .col-main {
  float: none;
  margin: 0;
  width: auto;
  padding: 0; }

.price-box {
  margin: 7px 0;
  font-family: "Arial", sans-serif; }

.price-box .price {
  color: #3399cc;
  font-size: 16px; }

.price-box .price,
.price {
  font-family: "Arial", sans-serif; }

.product-image {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  border-radius: 5px;
  background: #fff;
  padding: 3px; }

.no-touch .product-image:hover {
  border-color: #3399cc; }

.std p {
  margin: 0 0 1.5em; }

.std ul {
  list-style: disc outside;
  margin-bottom: 10px; }

.std ul li {
  margin-left: 1em; }

.input-box {
  padding-top: 2px; }

.input-box:after {
  content: '';
  display: table;
  clear: both; }

.input-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  border: 1px solid silver;
  background: #FFFFFF;
  font-size: 15px; }

.input-text:focus {
  border: 1px solid #3399cc; }

.input-text.validation-failed {
  border-color: #df280a; }

.input-text.validation-failed:focus {
  outline-color: #ef9384; }

input[type=email] {
  height: 30px;
  padding: 0 8px; }

input[type=email] {
  width: 365px;
  max-width: 100%; }

@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 0) {
  input[type=email] {
    font-size: 16px; } }

::-webkit-input-placeholder {
  color: #b5b6ad; }

input:-moz-placeholder {
  color: #b5b6ad; }

.validation-advice {
  margin: 5px 0 0;
  color: #df280a;
  font-size: 13px; }

body {
  height: 100%; }

.wrapper {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background: #fff; }

.wrapper:after {
  content: '';
  display: table;
  clear: both; }

.page {
  position: relative; }

.cms-home .page {
  width: 100%;
  min-width: 1200px; }

.page .main {
  padding-top: 75px;
  width: 900px;
  margin: 0 auto; }

.cms-home .page .main {
  width: 100%;
  padding-top: 0; }

.cr-title p {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.main-container {
  margin: 0 auto; }

.help-link {
  display: inline-block;
  margin-top: 8px; }

.help-link .icon {
  background: url(images/sprites.png) no-repeat;
  background-position: left 0;
  width: 22px;
  height: 22px; }

.help-link span.label {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  display: inline-block;
  margin: 5px 0 0 2px; }

.account-cart-wrapper span.icon {
  display: inline-block;
  vertical-align: top; }

.page-header {
  height: 63px;
  background: #fff;
  border-bottom: 1px solid #ccc; }

.page-header-container {
  margin: 0 auto;
  width: 940px;
  padding: 0 15px; }

.page-header-container:after {
  display: table;
  content: " ";
  clear: both; }

.page-header-container {
  position: relative; }

.page-header {
  font-family: "Arial", sans-serif; }

.page-header-container .store-language-container {
  float: right;
  max-width: 35%;
  padding: 40px 15px 4px 10px; }

.logo {
  display: block;
  float: left;
  width: 65%;
  min-width: 100px;
  min-height: 44px;
  text-align: center;
  position: absolute;
  z-index: 1; }

.logo img {
  max-width: 100%; }

.logo .large {
  display: none; }

.logo {
  max-width: 130px;
  min-height: 112px; }

.logo .large {
  display: block; }
.page-header .menu{
	float: left;
	margin: 30px 0px 0px 150px;
}
.page-header .menu ul li{
	display: inline-block;
	margin-right: 15px;
}
.page-header .menu ul li a{
	color: #636363;
	font-weight:bold;
}
.page-header .menu ul li a{
	text-decoration:none;
}
.skip-links {
  overflow: hidden; }

.skip-links {
  border: 0; }

.account-cart-wrapper {
  position: absolute;
  top: 17px;
  right: 21px; }

.skip-cart {
  position: relative; }

.skip-cart .icon {
  background-position: 0px -95px; }

.skip-cart {
  width: auto;
  padding: 0 10px; }

.skip-cart .count {
  top: -12px;
  left: -51px;
  position: relative;
  z-index: 5;
  width: 16px;
  height: 22px;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  font-family: "Arial", sans-serif; }

.skip-cart.no-count .count {
  position: absolute;
  left: 21px;
  top: -14px;
  color: #73b338;
  font-size: 16px;
  font-weight: bold; }

.skip-cart {
  color: #3399cc;
  text-transform: uppercase; }

.skip-cart:hover {
  text-decoration: none; }

.skip-cart .count {
  border-radius: 0px;
  background: none;
  margin-left: 0px;
  font-size: 14px;
  width: auto; }

.skip-cart .count {
  color: #73b337;
  font-weight: bold; }

.footer-container {
  background: #333333;
  color: #fff; }

.footer,
.footer button {
  font-family: "Arial", sans-serif; }

.footer {
  clear: both;
  width: 950px !important;
  max-width: none !important;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 30px;
  background: #333; }

.footer address {
  color: #3399cc; }

.footer .wrapp-footer {
  width: 905px;
  margin: 0 auto; }

.footer .wrapp-footer .logo {
  clear: both;
  float: left;
  left: auto !important; }

.footer .wrapp-footer .footer-nav-col {
  float: left;
  margin-top: 108px;
  width: 20%; }

.footer .wrapp-footer .footer-nav-col .header_link_footer h3 {
  font-weight: bold;
  font-size: 15px;
  color: white;
  margin-bottom: 7px;
  text-transform: none; }

.footer .wrapp-footer .footer-nav-col li {
  float: left;
  width: 100%;
  padding-bottom: 7px; }

.footer .wrapp-footer .footer-nav-col li a {
  color: white;
  font-size: 13px; }

.footer .wrapp-footer .block-subscribe-footer {
  width: 30%;
  float: right;
  margin-top: 108px; }

.footer .wrapp-footer .block-subscribe-footer .block-content {
  margin-top: 0; }

.footer .wrapp-footer .block-subscribe-footer .block-content .input-box {
  float: left;
  width: 80%;
  padding-top: 0; }

.footer .wrapp-footer .block-subscribe-footer .block-content .input-box input {
  height: 43px;
  line-height: 43px;
  border-radius: 0; }

.footer .wrapp-footer .block-subscribe-footer .block-content .actions {
  float: left;
  width: 20%;
  margin: 0; }

.footer .wrapp-footer .block-subscribe-footer .block-content .actions button {
  width: 100%;
  background: #73b337;
  color: white;
  font-size: 12px;
  height: 43px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.footer .wrapp-footer .block-subscribe-footer .block-content .intro-newsletter {
  clear: left;
  font-weight: bold;
  font-size: 11px;
  color: white;
  padding-top: 10px;
  text-transform: none; }

.footer .wrapp-footer .footer-icon-payment {
  float: left;
  width: 100%;
  clear: both;
  margin: 50px 0 30px;
  text-align: center;
  border-top: 1px solid white;
  padding-top: 30px; }

.footer .wrapp-footer .footer-icon-payment li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.footer address {
  clear: both; }

.footer address {
  text-align: center;
  width: 100%;
  font-size: 13px;
  color: white;
  padding-bottom: 30px; }

h2.product-name {
  margin: 0;
  margin-bottom: 0.5em;
  color: #636363;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  /*text-transform: uppercase;*/
  font-size: 13px;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.4; }

h2.product-name a {
  color: #636363; }

h2.product-name a:hover {
  color: #3399cc;
  text-decoration: none; }

.products-grid .product-name {
  /*text-transform: uppercase;*/
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Arial", sans-serif; }

.products-grid .product-name a {
  font-weight: 500; }

.products-grid {
  position: relative; }

.products-grid:after {
  content: '';
  display: table;
  clear: both; }

.products-grid > li {
  position: relative;
  margin-bottom: 20px;
  text-align: center; }

.products-grid > li:after {
  content: '';
  display: table;
  clear: both; }

.products-grid .product-image {
  width: 100%;
  margin-bottom: 15px; }

.products-grid .product-info {
  position: relative;
  padding-bottom: 95px; }

.products-grid .price-box {
  color: #b5b6ad;
  font-size: 13px;
  margin: 0 0 5px; }

/* .products-grid > li {
	float: left;
	width: 363px !important;
	margin-left: 2.22% !important;
	clear: none !important;
	margin-right: 0 !important;
}
 */
.products-grid .product-image {
  margin-bottom: 5px; }

.products-grid .product-image:before,
.products-grid .product-image:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none; }

.products-grid .product-image:before {
  background-color: white;
  opacity: 0.8;
  z-index: 2; }

.products-grid .product-image:after {
  background-image: url(images/opc-ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3; }

.home-product-new-hldr {
  position: relative;
}  
  
.home-product-new {
  width:1140px;
  overflow:hidden;
}

.home-grid.products-grid.products-grid--max-4 {
  transition:-ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
  position:relative;
  white-space:nowrap;
}

.item-container {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
	width:274px;
	white-space: normal;
}  

.slider-btn-hldr-left {
	left: -32px;
}

.slider-btn-hldr-right {
	right: -32px;
}

.svg-btn.close-overlay {
    float: right;
}

.slider-btn-hldr {
    bottom: 0;
    display: block;
    padding: 0;
	width: 24px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.svg-btn {
    stroke: #333;
	background-color: transparent;
    border: 0 none;
    color: buttontext;
    cursor: pointer;
    display: block;
}

.svg-btn svg{
  width: 24px;
  height: 24px;
}


#left-btn {
	    display: none;
}

.block-related .products-grid .item {
	margin-left: 0;
	background: white; 
	box-shadow: none;
	float: left;
}

.products-grid .item {
  margin-left: 0;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  float: left;
}

.products-grid div.item {
	width: 100%;
}

.products-grid .item img {
	image-rendering: -webkit-optimize-contrast;
}

.products-grid .item > a{
	display:block;
	/*min-height: 350px;*/
}

.products-grid .item a {
	border: none; 
	float:left;
	width:100%;
	color:unset;
}

.products-grid .item a:hover {
	border: none; 
	text-decoration:none;
	color:unset;
}

.products-grid .item .product-info {
  padding-bottom: 0; }

.products-grid .item .product-name {
  text-align: left; }

.products-grid .item a .product-name {
	color: #333333;
	font-size: 15px;
	padding: 5px 10px;
	text-transform: none;
	margin: 0px;
	font-weight: bold;
}

.products-grid .item .price-box .price {
  color: #990000;
  font-size: 20px;
  float: right;
  font-weight: bold;
  padding: 10px; }

@media only screen and (min-width: 480px) {
  .products-grid > li:nth-child(odd) {
    clear: none; }
  .products-grid > li:nth-child(even) {
    margin-right: 3.7037%; }
  .products-grid > li {
    width: 30.8642%;
    margin-right: 3.7037%; }
  .products-grid > li:nth-child(3n+1) {
    clear: left; }
  .products-grid > li:nth-child(3n) {
    margin-right: 0; } }

@media only screen and (min-width: 960px) {
  .products-grid--max-4-col > li:nth-child(odd) {
    clear: none; }
  .products-grid--max-4-col > li:nth-child(3n+1) {
    clear: none; }
  .products-grid--max-4-col > li:nth-child(even),
  .products-grid--max-4-col > li:nth-child(3n) {
    margin-right: 2.22222%; }
  .products-grid--max-4-col > li {
    margin-right: 2.22222%; }
  .products-grid--max-4-col > li {
    width: 23.33333%;
    margin-right: 2.22222%; }
  .products-grid--max-4-col > li:nth-child(4n+1) {
    clear: left; } }

.cr-star {
  width: 65px;
  background: url(images/cr-star-title.png) repeat-x bottom left;
  background-size: 13px auto;
  height: 13px;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: middle; }

.cr-star > span {
  background: url(images/cr-star-title.png) repeat-x;
  display: block;
  height: 13px;
  background-size: 13px auto; }

.header-minicart {
  display: inline-block !important;
  vertical-align: top;
  margin: 10px 0 0; }

.header-minicart .skip-cart {
  border: none; }

.header-minicart span.icon {
  background: url(images/sprites.png) no-repeat;
  background-position: left -63px;
  width: 27px;
  height: 23px; }

.header-minicart span.label {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: none;
  display: inline-block;
  margin: 4px 0 0; }

.cms-home .col-main {
  background: #f4f5f0; }

.home-central-park-content {
  margin: 10px 0 60px; }

.home-central-park-content p {
  margin-bottom: 10px; }0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.review p {
  margin-bottom: 7px; }

.review {
  margin-bottom: 50px; }

.home-grid.products-grid.products-grid--max-4-col.first.last.odd {
  margin-bottom: 20px;
  margin-top: 10px; }
  
.item.first{
	margin-left:0 !important;
}
.item.last {
  /* margin-bottom: 0; */ }

.header-question {
  float: right;
  font-size: 14px; }

.header-question .text {
  color: #666666;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
  text-transform: uppercase; }

.header-question .number {
  color: #73b337;
  font-weight: bold;
  font-size: 18px; }

/*! CSS Used from: http://5645a697.ngrok.io/skin/frontend/rwd/park/css/madisonisland.css */
body.cms-home .page-header-container {
	width: 1170px !important; }

body.cms-home .wrapper {
  background: #f4f5f0; }

body.cms-home .main-container .col-main {
  width: auto;
  padding-top: 0; }

body.cms-home .std {
  width: 1170px; }

body.cms-home #ibanners-home {
  /* position: absolute;
  top: 63px;
  left: 0;  */}

body.cms-home .col-main > .std {
  /* padding-top: 515px; */ }

#ibanners-home {
  background: url(images/main-cp-1366q6kr.jpg) no-repeat top center;
  height: 500px;
  width: 100%;
  min-width: 1200px; }

@media (max-width: 1600px) and (min-width: 1367px) {
  #ibanners-home {
    background: url(images/main-cp-1600q6kr.jpg) no-repeat top center; } }

@media (min-width: 1601px) {
  #ibanners-home {
    background: url(images/main-cp-1920q6kr.jpg) no-repeat top center; } }

h1 .view-all{
	float:right;
	font-size:15px;
	padding-top: 12px;
}

h1 .view-all:hover{
	text-decoration:none;
}

.home-product-new .home-grid .product-image {
  padding: 0; }

.home-product-new .home-grid .product-info .product-name a {
  font-family: "Arial", sans-serif;
  padding-left: 10px;
}

.products-grid .item .cr-title {
  float: left;
  margin-left: 3%;
  width: 35%;
  text-align: left;
  overflow: hidden; }

.products-grid .item .cr-title p {
  font-size: 14px;
  margin: 0; }

.products-grid .item .price-box {
	float: right;
	text-align: right;
	padding-right: 10px;
}
.products-grid .item .price-box > span{
	display: block;
}

/*! CSS Used from: http://5645a697.ngrok.io/skin/frontend/rwd/park/css/grid12.css */
.col-md-3,
.col-md-9 {
  float: left; }

.col-md-9 {
  width: 75%; }

.col-md-3 {
  width: 25%; }

.col-sm-3,
.col-md-3,
.col-lg-3,
.col-sm-9,
.col-md-9,
.col-lg-9 {
  position: relative;
  min-height: 1px; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/*! CSS Used from: http://5645a697.ngrok.io/skin/frontend/rwd/park/css/custom.css */
.products-grid .item .description {
  text-align: left;
  font-size: 12px;
  padding: 3%; }

.products-grid .item .description-image {
  padding: 3% 1% 0 3%; }

.col-lg-9.col-md-9.col-sm-9.description > p {
  margin: 0; }

.cms-index-index .home-product-new .dur {
  height: 180px; }

.cr-star {
  margin: 2px 10px 2px 0; }

.products-grid .item .cr-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 68%;
}

.block-related .products-grid .item .cr-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 68%;
  flex-direction: column;
}
  
.home-product-new .owl-prev,
.home-product-new .owl-next{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 46%;
}
.home-product-new .owl-prev.disabled,
.home-product-new .owl-next.disabled{
    display:none;
}

.home-product-new .owl-prev {
    left: -30px;
}
.home-product-new .owl-next {
    right: -30px;
}
.std p {
  line-height: 1.4; }

.products-grid .item .price-box span {
  padding-left: 9px;
  text-decoration: line-through;
  font-size: 13px; }

.products-grid .item .price-box .price {
  padding: 0 0 10px 7px;
  font-size: 14px;
  line-height: 15px;
  text-decoration: none; }

.block-related .products-grid .item .price-box .price {
  padding: 0 0 10px 7px;
  font-size: 20px;
  line-height: 15px;
  text-decoration: none; }

.products-grid .item .price-box .from {
  padding: 0 0 0 9px;
  text-decoration: none; }

.products-grid .item .price-box .from b {
  text-decoration: line-through;
  font-weight: normal; }

.moreDetails a {
  background: #ffcc33 none repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  color: #636363;
  display: block;
  float: right;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 10px 24px 14px 0;
  width: 120px; }

.moreDetails a:hover {
  background: #ff9900 none repeat scroll 0 0;
  text-decoration: none; }

.dur > p {
  line-height: 1.1em; }

.products-grid .item .price-box .from .regular {
  padding-right: 10px;
  color: #000;
  text-decoration: none;
  padding: 0 5px 0 0; }

.home-reviews .review {
  width: 29%;
  margin: 0 2%;
  font-size: 13px;
  float: left; }

.home-reviews .review b {
  text-align: center;
  display: block; }

.home-reviews .review p {
  min-height: 91px;
  margin-top: 15px; }

.home-reviews .review img {
  margin: 0 auto; }

/*! CSS Used from: http://5645a697.ngrok.io/skin/frontend/base/default/css/applycoupon/applycoupon.css */
.modal-box {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 92%;
  background: white;
  border-radius: 8px;
  top: 50%;
  background-clip: padding-box;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 777px; }

.modal-box .modal-body {
  padding: 2em 1.5em;
  background: url("images/applycoupon/applycoupon-bg.png");
  min-height: 504px; }

.coupon-successfully-img {
  text-align: center;
  margin: 36px 0 15px 0; }

.coupon-successfully-img img {
  display: inline-block;
  max-width: 100%; }

.modal-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.77) !important;
  transition: opacity 400ms linear, z-index 0ms 400ms linear; }

.modal-overlay_visible {
  opacity: 1;
  z-index: 900;
  transition: opacity 400ms 1ms linear, z-index 0ms linear; }

.coupon-successfully-text {
  color: #000000;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  text-align: center; }

.modal-box a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #bbb;
  background: url("images/applycoupon/popup-close.png");
  text-indent: -9999px;
  width: 23px;
  height: 23px; }

.modal-box a.close:hover {
  color: #222;
  transition: color 1s ease; }

@media screen and (max-width: 800px) {
  .modal-box .modal-body {
    min-height: 0; }
  .coupon-successfully-text {
    margin-bottom: 15px; } }

@media screen and (max-width: 767px) {
  .coupon-successfully-text {
    font-size: 24px;
    line-height: 30px; } }

@media screen and (max-width: 480px) {
  .modal-box a.close {
    background-size: cover;
    height: 18px;
    right: 10px;
    top: 10px;
    width: 18px; }
  .coupon-successfully-img {
    margin-top: 15px; }
  .coupon-successfully-text {
    font-size: 20px;
    line-height: 26px; }
  .modal-box .modal-body {
    padding: 2em 1em; } }

@media screen and (max-width: 360px) {
  .coupon-successfully-img {
    margin-top: 0px; }
  .coupon-successfully-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0; } }

.noscript {
  text-align: center;
  color: white;
  background: black;
  padding: 10px; }

/* to the body element */
.noscroll { overflow: hidden; }

.overlay { 
   position: fixed; 
   overflow-y: scroll;
   z-index:999;
   top: 0; right: 0; bottom: 0; left: 0; 
   background:  rgba(40,40,40, .75);
}

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

#awards-memberships-modal{
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
   background-clip: padding-box;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 6px;
   position: relative;
   margin: 30px auto;
   width: 600px;
}
    
.awards-memberships-container{
	background:#FFF;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.cms-home .awards-memberships{
	display:flex;
	padding:5px 15px;
}
.awards-memberships .item{
	flex: 1 1 0;
	border-right: 1px solid #ccc;
	padding:0px 10px;
	text-align:center;
	font-size:13px;
	line-height:13px;
}
.awards-memberships .item.fixed-width{
	flex: 0 0 275px;
}

.awards-memberships .item:last-child{
	border-right: 0px;
}
.awards-memberships .item.title{
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center; /* vertically aligns items */
	font-size:20px;
	font-weight:bold;
	text-align:left;
}

.awards-memberships .item img{
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
.awards-memberships .item div{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}
#awards-memberships-modal {
	width: 550px;
	font-size: 12px;
	padding: 15px 25px;
	margin-bottom: 20px;
	color: #333333;
}
#awards-memberships-modal h3 {
	margin: 0;
	font-size: 25px;
	text-transform: none;
	font-weight: 700;
	text-align:center;
	margin-bottom: 20px;
}
#awards-memberships-modal .title{
	margin: 10px 0px;
	clear: both;
	float: left;
	width: 100%;
}
#awards-memberships-modal .title img{
	display: inline-block;
	padding: 5px 0px 0px;
	margin-right: 10px;
	float: left;
}
#awards-memberships-modal .title div{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	padding-top: 20px;
}
#awards-memberships-modal p {
	line-height: 20px;
	margin-bottom: 5px;
}